* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
  color: #FFF7F7;
  background: #090808;
}

.canvas {
  max-width: 1000px;
  margin: 5px auto;
  padding: 10px 60px 10px 60px;
  border: 3px solid white;
}

/* NavigationBar */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  z-index: 100;
}

.main-menu {
  display: flex;
  list-style-type: none;
  z-index: 100;
  opacity: .9;
}

.main-menu a {
  margin-right: 12px;
  font-size: 16px;
  font-weight:600;
  text-decoration: none;
}

.contact-menu {
  display: flex;
  list-style-type: none;
  opacity: .9;
}

.contact-menu a {
  margin-left: 20px;
  font-size: 16px;
  font-weight:600;
  text-decoration: none;
}

.nav-wrapper a{
  position: relative;
}
.nav-wrapper a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF7F7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-wrapper a:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* HomeView */
.intro-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.intro-name {
  font-size: 200px;
  line-height: 180px;
  height: 160px;
  font-weight: bold;
  margin-right: 60px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: transparent;
}
.name-shadow { 
  height: 100%;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -120px 36px -28px inset;
  position:absolute;
  background-color: transparent;
}

.intro-title {
  font-size: 28px;
  font-weight: bold;
}
.intro-container p{
  font-size: 10px;
  text-align: justify;
  margin-right: 60px;
}
.btn-intro {
  font-size: 20px;
  margin-top: 5px;
  z-index: 200;
  opacity: .9;
}

.logo-container {
  display: flex;
  justify-content: center;
  max-width: 900px;
  max-height: 440px;
}

.logo-img {
  object-fit: cover;
  max-width: 100%;
  /* filter: grayscale(100%); */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 12px;
  opacity: .40;
}
.copyright:hover {
  opacity: .8;
}

.social-links {
  font-size: 20px;
  list-style-type: none;
  display: flex;
  width: 150px;
  justify-content: space-between;
  opacity: .9;
}
.social-links li {
  transition: opacity .25s ease-in-out
}
.social-links:hover li{
  opacity: 0.25;
}
.social-links:hover li:hover{
  opacity: 1;
}
