* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
  color: #FFF7F7;
  background: #090808;
}

.canvas {
  max-width: 1000px;
  margin: 5px auto;
  padding: 10px 60px 10px 60px;
  border: 3px solid white;
}

/* NavigationBar */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  z-index: 100;
}

.main-menu {
  display: flex;
  list-style-type: none;
  z-index: 100;
  opacity: .9;
}

.main-menu a {
  margin-right: 20px;
  font-size: 16px;
  font-weight:600;
  text-decoration: none;
}

.contact-menu {
  display: flex;
  list-style-type: none;
  opacity: .9;
}

.contact-menu a {
  margin-left: 20px;
  font-size: 16px;
  font-weight:600;
  text-decoration: none;
}
.nav-wrapper a{
  position: relative;
}
.nav-wrapper a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF7F7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-wrapper a:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* .nav-wrapper a:active {
  color:red;
} */
.nav-wrapper .link-active a:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* HomeView */
.intro-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.intro-name {
  font-size: 200px;
  line-height: 180px;
  height: 160px;
  font-weight: bold;
  margin-right: 60px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: transparent;
}
.name-shadow {
  height: 100%;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -120px 36px -28px inset;
  position:absolute;
  background-color: transparent;
}

.intro-title {
  font-size: 28px;
  font-weight: bold;
}
.intro-container p{
  font-size: 10px;
  text-align: justify;
  margin-right: 60px;
}
.btn-intro {
  font-size: 20px;
  margin-top: 5px;
  z-index: 200;
  opacity: .9;
}

.logo-container {
  display: flex;
  justify-content: center;
  max-width: 900px;
  max-height: 440px;
}

.logo-img {
  object-fit: cover;
  max-width: 100%;
  opacity: .8;
  /* filter: grayscale(100%); */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 12px;
  opacity: .40;
}
.copyright:hover {
  opacity: .8;
}

.social-links {
  font-size: 20px;
  list-style-type: none;
  display: flex;
  /* width: 200px; */
  justify-content: space-between;
  opacity: .9;
}
.social-links li {
  transition: opacity .25s ease-in-out;
  margin-left: 10px;
}
.social-links:hover li{
  opacity: 0.25;
}
.social-links:hover li:hover{
  opacity: 1;
}

/* ProjectView */
.characters-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.character-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 400px;
}
.card-img {
  width: 100%;
  object-fit: contain;
  max-height: 400px;
  filter: grayscale(100%);
  margin-bottom: 10px;
}
.card-img:hover {
  filter: grayscale(0);
  cursor: pointer;
}

/* Slider */
.slider {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* margin: 0px auto; */
  /* left: 50%;
  margin-left: -50%; */
  background-color: rgba(0, 0, 0, 0.90);
  padding: 10px 60px 10px 60px;
  z-index: 200;

}

.slider-container {
  max-width: 800px;
  /* height: 500px; */
  height: 100%;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
  background-color: transparent;
}

/* @media screen and (max-width: 700px){
  .slider-container {
    margin: 100px 10px 0;
  }
} */

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 1s;

  background-color: transparent;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;

  background-color: transparent;
}
.active-anim {
  opacity: 1;
  z-index: 10;
  
}
.btn-slide {
  top: 50%;
  transform: translateY(-60%);
  font-size: 30px;
  background-color: transparent;
  border-bottom: none;
  position: absolute;
  cursor: pointer;
  border: none;
  opacity: .9;
  z-index: 10
}
.next {
  right: 20px;
}
.prev {
  left: 20px;
}
.close {
  top: 20px;  
  right: 20px;
}
.btn-slide i{
  background-color: transparent;
}

